/* TOP NAVbar */
#top-nav .navbar {
	background: #221133;
	border: none;
	height: 86px;
	padding: 8px 0;
	border-radius: 0;
	margin-bottom: 0;
}
#top-nav .logo_area {
	display: none;
}
#top-nav .navbar-default .navbar-nav>li>a {
	border: none;
	background: none;
	color: #FFF;
}
#top-nav .navbar-default .navbar-nav>.active>a,
#top-nav .navbar-default .navbar-nav>.active>a:focus,
#top-nav .navbar-default .navbar-nav>.active>a:hover {
	color: #fec73a;
}
#top-nav.white .logo_area {
	display: block;
	margin-top: 15px;
}
#top-nav.white .navbar {
	background: #FFF;
}
#top-nav.white .navbar-default .navbar-nav>li>a {
	color: #333;
}
#top-nav.white .navbar-collapse {
	text-align: center;
}
#top-nav.white .nav-left {
	margin-top: 10px;
	float: none;
	display: inline-block;
}
#top-nav.white .navbar-right {
	margin-top: 15px;
}
#top-nav.white .btn_headers {
	background-color: #4f3183;
}
#top-nav.white .btn_kayit_header {
	border-color: #4f3183;
	color: #4f3183;
	background: none;
}
/* HEADER CONTAINER */
#header-container {
	height: 510px;
	background: url(../img/bg.jpg);
	background-size: cover;
	color: #FFF;
	padding-top: 65px;
	text-align: center;
	margin-bottom: 35px;
}
#header-container img {
	margin: 0 auto;
	margin-bottom: 35px;
}
#header-container h1 {
	margin-bottom: 35px;
}
#header-container .header-search {
	background: rgba(34,17,51,0.8);
	border-radius: 4px;
	padding: 20px 0;
	margin-bottom: 35px;
}
#header-container .header-search .jib {
	border-radius: 3px;
	border: 0;
	padding: 3px 20px;
	font-size: 14px;
}
#header-container .header-search .btn {
	background: #fec73a;
	color: #221133;
	font-size: 16px;
	border: none;
}

/* job listning */
#jobs-listning h3 {
	text-align: left;
	color: #000;
	font-size: 18px;
	margin-bottom: 35px;
	margin-left: 15px;
}
#jobs-listning .job_item {
	background: #ffffff;
	position: relative;
	padding: 10px;
	height: 80px;
	border-radius: 6px;
	margin-bottom: 20px !important;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
	overflow: hidden;
}
#jobs-listning .job_item .company_logo {
	width: 20%;
	float: left;
}
#jobs-listning .job_item img {
	max-width: 100%;
}
#jobs-listning .job_item .job_text {
	width: 80%;
	padding-left: 10px;
	float: left;
}
#jobs-listning .job_item .job_desc > a {
	font-size: 16px;
	color: #512e72;
	font-weight: bold;
}
#jobs-listning .job_item .company_name {
	font-size: 14px;
	color: #ea148c;
}
/* Footers */
#footer_social {
	margin-top: 35px;
	background: #512e72;
	padding: 30px 0;
}
#footer_social a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
#footer_social a>i {
	margin-right: 22px;
	font-size: 35px;
	display: inline-block;
	vertical-align: middle;
}
#footer {
	padding: 15px 0 20px;
	border-top: 2px solid #f7f7f7;
}
#footermenuarea {
	float: right;
}
#footermenuarea .menu {
	text-decoration: none;
	list-style: none;
}
#footermenuarea .menu > li {
	display: inline-block;
	padding: 10px;
}
#footermenuarea .menu > li > a {
	color: #222222;
	text-decoration: none;
}

/* butons */
.btn_login{
	display: inline-block;
	padding: 11px 20px;
	border-radius: 4px;
	background: #ea148c;
	color: #fff;
	border: none;
	text-align: center;
}

.section-a{
	background: #4f3183;
	color: #fff;
	text-align: left;
	padding: 50px;
	margin-bottom: 30px;
	width: 1351px;
	height: 139px;
}

/* */
.container1{
	padding-top: 15px;

}
.container1>a{
	text-align: center;
    display: block;
    margin: 0 auto;
}

#top-nav1 .navbar1 {
	background: #fff;
	border: none;
	height: 74px;
	padding: 8px 0;
	border-radius: 0;
	margin-bottom: 0;
}

#top-nav1 .navbar-default1 .navbar-nav>li>a {
	border: none;
	background: none;
	color: #221133;
}

#top-nav1 .navbar-default1 .navbar-nav>.active>a,
#top-nav1 .navbar-default1 .navbar-nav>.active>a:focus,
#top-nav1 .navbar-default1 .navbar-nav>.active>a:hover {
	color: #fec73a;
}

.logo_area{
	float: left;
}


.btn_login2{
	background-color: #fff;
    color: #4f3183;
    padding: 0px 20px;
	margin-right: 150px;,
	width: 68.78px;
    height: 42px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}

.btn_login1{
	background-color: #4f3183;
    color: #fff;
    padding: 0px 20px;
    width: 68.78px;
    height: 45px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
}

.btn_headers {
	padding: 0px 20px;
	height: 45px;
	text-align: center;
	border-radius: 5px;
	border: none;
	background-color: #ea148c;
	color: #fff;
}

.btn_kayit_header{
	background-color: #fff;
    color: #ea148c;
    border: 2px solid;
}

/* Blog */
.sidebar_blog{
	padding-top: 30px;
}

.widgettitle{
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: left;
}

.blog_sidebar{
	display: block;
    margin-bottom: 4px;
    color: #333;
    padding: 10px 5px;
    border-bottom: 1px solid #efefef;
}

.container-blog{
	margin-top: 30px;
	margin-bottom: 30px;
}

.margin{
	margin-bottom: 35px; 
	margin-top: 35px;
	width: 1250px;
}

/* Listeleme Background */
.container-title-background{
	background-color: #4f3183;
    padding: 35px 0px;
    color: #fff;
    margin-bottom: 35px;
 	
}

.container-title-list{
	width: 1170px;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-title-h1{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 36px;
}



